priority -50
extends typescript

priority -49
snippet rfc "react functional component"
import { Fragment, useCallback } from "react";

interface Props {
}

export const MyClass = ({ }: Props) => {
	return (
		<Fragment>
		</Fragment>
	);
};


endsnippet
