priority -50

snippet int "interface"
interface ${1} {
}
endsnippet
snippet nspc "namespace"
namespace ${1} {
}
endsnippet
priority -49
snippet fun "function (named)" b
function ${1:function_name} (${2:argument}: ${3:argument_type}) {
	${VISUAL}$0
}
endsnippet
snippet test
test("${1}", async () => {
	${2}
});
endsnippet
snippet log
console.log("${1}");
endsnippet
